0 ICON "icon.ico"
1 VERSIONINFO
FILEVERSION    1,1,0,0
PRODUCTVERSION 1,1,0,0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "080904E4"
		BEGIN
			VALUE "FileDescription", "Truly Ergonomic Keyboard Firmware Upgrade"
			VALUE "FileVersion", "1.1"
			VALUE "ProductVersion", "1.1"
			VALUE "LegalCopyright", "Maurice Bos"
			VALUE "CompanyName", "Truly Ergonomic"
			VALUE "ProductName", "Keyboard Firmware Upgrade"
			VALUE "InternalName", "tek-upgrade"
			VALUE "OriginalFilename", "tek-windows.exe"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x809, 1252
	END
END
background RCDATA "background.png"
